<!-- Post Content Column -->
<div>

    <!-- Title -->
    <h1 class="mt-4">{{(post$ | async).title}}</h1>

    <!-- Author -->
    <p class="lead">
        by
        <a href="#">{{(post$ | async).author}}</a>
    </p>
    <hr>

    <!-- Date/Time -->
    <p>Posted on {{(post$ | async).date |date}} </p>
    <hr>

    <!-- Preview Image -->
    <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
    <hr>
    <!-- Post Content -->
    <!-- This is where Scully will inject the static HTML -->
    <scully-content></scully-content>
    <hr>

</div>