<!-- Navigation -->
<nav class="navbar navbar-light bg-white shadow-sm p-3 mb-5">
    <div class="container">
        <div class="col-xs-9 mt-1">
        <a class="navbar-brand text-monospace" [routerLink]="''">
            <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo" aria-label="logo">
            soloCoding
        </a>
    </div>
        <div class="col-xs-3">
            <a class="btn btn-primary btn-sm mr-1 mt-1" [routerLink]="'/posts'">Blog</a>
            <a class="btn btn-success btn-sm mr-1 mt-1" [routerLink]="'/portfolio'">Portfolio</a>
            <a class="btn btn-secondary btn-sm mt-1" [routerLink]="'/about'">About</a>
          </div>


    </div>
</nav>