<!-- Footer -->
<footer class="py-3 bg-dark mt-4">
    <div class="container">
        <div class="row">
            <div class="col-2 hide">.</div>
            <div class="col-8 text-center">
                <small class="text-white">you can find me on</small>
            </div>
            <div class="col-2 hide">.</div>
            <div class="col-2 hide">.</div>
            <div class="col-8 text-center">
                <small><a href="https://goto.solocoding.dev/redirect/f14582"
                        target="_blank" rel="noopener noreferrer" title="on Udemy"> <img src="assets/udemy.webp" alt=""
                            class="small-icon"></a></small>
                <small class="ml-1"><a href="https://github.com/s0l0c0ding" target="_blank" rel="noopener noreferrer"
                        title="on GitHub"> <img src="assets/git.webp" alt="" class="small-icon"></a></small>
                <small class="ml-1"><a href="https://twitter.com/s0l0c0ding" target="_blank" rel="noopener noreferrer"
                        title="on Twitter"> <img src="assets/twitter.webp" alt="" class="small-icon"></a></small>
                <small class="ml-1"><a href="https://www.youtube.com/channel/UCULYygcBWe1YBY2iLiRhUnQ/playlists"
                        target="_blank" rel="noopener noreferrer" title="on Youtube"> <img src="assets/youtube.png"
                            alt="" class="small-icon"></a></small>
            </div>
            <div class="col-2 hide">.</div>
            <div class="col-2 hide">.</div>
            <div class="col-8 text-center">
                <small class="text-white">&copy; Copyright 2020 All rights reserved.</small>
            </div>
            <div class="col-2 hide">.</div>
        </div>
    </div>
</footer>