<div [ngClass]="cardClass">
    <div class="card-header">
        <div class="container">
            <div class="row justify-content-end">
            <span class="badge badge-dark ">{{link.language}}</span>
        </div>
        </div>
    </div>
    <img class="card-img-top" [src]="photo" alt="photo">
    <div class="card-body">
        <h5 class="card-title">{{link.title}}</h5>
        <p class="card-text">{{link.description}}</p>
    </div>
    <div class="card-footer">
        <a class="btn btn-outline-primary" [routerLink]="link.route">Read it</a>
    </div>
</div>