<form name="contact" method="POST" data-netlify-recaptcha="true" data-netlify="true">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label class="sr-only" for="validationDefault01">Name</label>
      <input name="name" type="text" class="form-control" id="validationDefault01" placeholder="Name" required>
    </div>
    <div class="col-md-4 mb-3">
      <label class="sr-only" for="validationDefault02">Email</label>
      <input name="email" type="email" class="form-control" id="validationDefault02"  placeholder="Email" required>
      <div class="invalid-tooltip">
          Please provide a valid email.
        </div>
    </div>
    <div class="col-md-4 mb-3">
      <label class="sr-only" for="validationDefault03">Subject</label>
      <input name="subject" type="text" class="form-control" id="validationDefault03" value="info"  placeholder="Subject" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-12 mb-3">
      <label class="sr-only" for="validationDefault04">Message</label>
      <textarea name="msg" type="text" class="form-control" id="validationDefault04"  placeholder="Message" required></textarea>
    </div>
  </div>
  <div class="form-row text-center justify-content-center">
    <div class="col-md-12 mb-3" data-netlify-recaptcha="true"> </div>
  </div>
    <button class="btn btn-primary" type="submit">Send</button>
</form>