<div class="container justify-content-around">
    <!--githup-->
    <div class="row justify-content-center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4 align-self-center">
                    <a href="https://github.com/s0l0c0ding" target="_blank" rel="noopener noreferrer">
                        <img src="assets/git.webp" class="card-img animated-img" title="soloCoding" alt="solocoding logo app">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-light">
                        <h5 class="card-title">Github</h5>
                        <p class="card-subtitle mb-1">My public githup profile:</p>
                        <p class="card-text">A place for sharing some code and my projects.</p>
                        <p class="card-text"><small class="text-muted">Technology included</small></p>
                        <span class="badge badge-pill badge-success">Spring</span>
                        <span class="badge badge-pill badge-danger">Angular</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--soloCoding-->
    <div class="row justify-content-center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4 align-self-center">
                    <a href="" target="_blank" rel="noopener noreferrer">
                        <img src="assets/logo.png" class="card-img animated-img" title="soloCoding" alt="solocoding logo app">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-light">
                        <h5 class="card-title">soloCoding</h5>
                        <p class="card-subtitle mb-1">A personal blog about software development and programming, to
                            document and share the things I learned along the way.</p>
                        <p class="card-text">The blog is developed using Angular, Scully as a static generator,
                            Bootstrap and hosted on Netlify.</p>
                        <p class="card-text"><small class="text-muted">Technology used</small></p>
                        <span class="badge badge-pill badge-danger">Angular</span>
                        <span class="badge badge-pill badge-success">Scully</span>
                        <span class="badge badge-pill" style="background-color:#814dce; color: white;">Bootsrtap</span>
                        <span class="badge badge-pill badge-secondary">Netlify</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
       <!--soloPms-->
    <div class="row justify-content-center ">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4 align-self-center">
                    <a href="https://solopms.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/logoSoloPms.png" class="card-img animated-img" title="go to soloPms" alt="soloPms logo app">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body bg-light">
                        <h5 class="card-title">soloPms</h5>
                        <p class="card-subtitle mb-1">Free and modern hotel property management software to help hotel
                            business to be
                            more
                            productive.</p>
                        <p class="card-text">The backend is developed in Java / Spring and deployed to GCP / CloudRun.
                            The frontend is developed using Angular and hosted on Firebase.</p>
                        <p class="card-text"><small class="text-muted">Technology used</small></p>
                        <span class="badge badge-pill badge-success">Spring</span>
                        <span class="badge badge-pill badge-danger">Angular</span>
                        <span class="badge badge-pill badge-success">MongoDb</span>
                        <span class="badge badge-pill badge-info">Friebase</span>
                        <span class="badge badge-pill badge-primary">GCP</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>