<div class="container justify-content-around">
    <!--soloCoding-->
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a href="" target="_blank" rel="noopener noreferrer">
                    <img src="assets/logo.png" class="card-img" alt="solocoding logo app">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body bg-light">
                    <h5 class="card-title">soloCoding</h5>
                    <p class="card-subtitle mb-1">A personal blog about software development and programming, to document and share the things I learned  along the way.</p>
                    <p class="card-text">The blog is developed using Angular , Scully as a static generator, Bootstrap and hosted on GitHub Pages.</p>
                    <p class="card-text"><small class="text-muted">Technology used</small></p>
                    <span class="badge badge-pill badge-danger">Angular</span>
                    <span class="badge badge-pill badge-success">Scully</span>
                    <span class="badge badge-pill" style="background-color:#814dce; color: white;">Bootsrtab</span>
                    <span class="badge badge-pill badge-secondary">GitHub Pages </span>
                </div>
            </div>
        </div>
    </div>
    <!--soloPms-->
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a href="https://solopms.com/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/logoSoloPms.png" class="card-img" alt="soloPms logo app">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body bg-light">
                    <h5 class="card-title">soloPms</h5>
                    <p class="card-subtitle mb-1">Free and modern hotel property management software to help your business to be
                        more
                        productive.</p>
                    <p class="card-text">The backend is developed in Java / Spring and deployed to GCP / CloudRun. The frontend is developed using Angular and hosted on Firebase.</p>
                    <p class="card-text"><small class="text-muted">Technology used</small></p>
                    <span class="badge badge-pill badge-success">Spring</span>
                    <span class="badge badge-pill badge-danger">Angular</span>
                    <span class="badge badge-pill badge-success">MongoDb</span>
                    <span class="badge badge-pill badge-info">Friebase</span>
                    <span class="badge badge-pill badge-primary">GCP CloudRun</span>
                </div>
            </div>
        </div>
    </div>
</div>