<div class="container justify-content-center">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a href="https://solopms.com/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/logoSoloPms.png" class="card-img" alt="soloPms logo app">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body bg-light">
                    <h5 class="card-title">soloPms</h5>
                    <p class="card-text">Free and modern hotel property management software to help your business to be
                        more
                        productive.</p>
                    <p class="card-text"><small class="text-muted">Technology used</small></p>
                    <span class="badge badge-pill badge-success">Spring</span>
                    <span class="badge badge-pill badge-danger">Angular</span>
                    <span class="badge badge-pill badge-success">MongoDb</span>
                    <span class="badge badge-pill badge-info">Friebase</span>
                </div>
            </div>
        </div>
    </div>
</div>