<div class="container">
    <div class="row justify-content-center text-secondary">
        <p>
            This blog is a free ads site, and it will remain so. If you find any article helpful for you, kindly support
            it.
        </p>
    </div>
    <div class="row justify-content-center">
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="business" value={{paypalId}} />
            <input type="hidden" name="no_recurring" value="0" />
            <input type="hidden" name="item_name" value="Thanks for your support" />
            <input type="hidden" name="currency_code" value="USD" />
            <button class="btn btn-primary" type="submit">Donate</button>
        </form>
    </div>
</div>