<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{post.title}}</h1>

            <!-- Author Date/Time -->
            <p class="lead text-monospace">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    <path fill-rule="evenodd"
                        d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                </svg>
                <a [routerLink]="'/about'" class="btn btn-light btn-sm">{{post.author}}</a>
                <small class="mr-2" title="{{post.date |date }}">{{post.date |date:'dd/LL'}}
                </small>
            </p>
            <!-- tags -->
            <div class="row ml-1">
                <div class="col-xs-1 mr-2 " *ngFor="let tag of post.keywords">
                    <ul class="list-unstyled mt-1">
                        <li>
                            <a *ngIf="badge.get(tag)" [ngClass]="badge.get(tag)"
                                [routerLink]="['/posts/'+tag]">{{tag}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-1 mr-2">
                    <ul class="list-unstyled mt-1">
                        <li>
                            <a class="badge badge-secondary" [routerLink]="['/posts']">All</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>

            <!-- Preview Image -->
            <figure class="figure">
                <img class="col-12" [src]="post.photo" alt="">
                <figcaption class="figure-caption text-right" *ngIf="post.imgCredit">credit:
                    {{post.imgCredit}}</figcaption>
            </figure>
            <hr>
            <!-- Post Content -->
            <scully-content></scully-content>
            <hr>

        </div>
        <!-- Sidebar-->
        <div class="col-md-4 mb-4 mt-4">

        </div>
    </div>

    <div class="row" *ngIf="post.tweetId">
        <h5 class="col-lg-8 mt-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
              </svg>
              {{post.language}}
              <ng-container [ngSwitch] = "post.language">
                <ng-container *ngSwitchDefault>
                    Feel free to join the conversation on Twitter 👇
                </ng-container>
                <ng-container *ngSwitchCase="'it'">
                    Aspetto i tuoi commenti su Twitter 👇
                </ng-container>
              </ng-container>
        </h5>
    </div>

</div>