/* You can add global styles to this file, and also import other style files */

.small-icon {
    max-width: 25px;
    max-height: 25px;
}


.divider-custom {
    margin: 0rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50 !important;
  }
  .divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
  }
  .divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
  }
  .divider-custom .divider-custom-icon {
    color: #2c3e50 !important;
    font-size: 2rem;
  }
  .divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
  }
  .divider-custom.divider-light .divider-custom-icon {
    color: #fff !important;
  }

/* CODE */
app-code > pre,
pre {
  background: #d7d2d2;
  color: var(--scully-offwhite);
  border-radius: 8px;
  border-top:#423e3e8c solid 10px;
  overflow-x: auto;
  min-height: 100px;
  padding: 16px 35px 35px 20px;
}

app-code > pre > code::before,
pre > code::before {
  background-color: #bfb7b7;
  border-radius: 3px;
  border-left: 3px solid #bfb7b7;
  border-right: 3px solid #bfb7b7;
  content: attr(class);
  text-indent: -9ch;
  text-transform: uppercase;
  display: block;
  padding: 2px 2px;
  margin-bottom: 16px;
  width: fit-content;
  overflow: hidden;
}