<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <div class="jumbotron my-4 text-dark" style="background-image: url(assets/lead.jpg)">
        <h1 class="display-4">Yet another blog !</h1>
        <p class="lead"> Yet another personal blog about programming and software development, but for sure you will
            find
            something
            new,
            as the developer journey is a continuous discovery and learning.</p>
    </div>

    <!-- articles Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">read</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <span class="material-icons">
                    stars
                </span></div>
            <div class="divider-custom-line"></div>
        </div>

    <!-- aeticles -->
    <div class="row text-center">
        <ng-container *ngFor="let link of links$ | async; let last = last">
            <div class="col-lg-3 col-md-6 mb-4" *ngIf="!last">
                <app-post [link]=link [photo]=link.photo></app-post>
            </div>
        </ng-container>


    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<!--Photo by Shapelined on Unsplash-->